@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.serif {
    font-family: 'Noto Serif JP', serif;
}

.bold-600 {
    font-weight: 600;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
